:root {
    --base: #161B33;
    --font: rgb(230, 230, 230);
    --light-base: #0f3748ff;
    --red: #de3f57ff;
    --yellow: #f7ea78ff;
    --blue: rgb(51, 153, 197);
  }


.navBar{
    display: flex;
    justify-content: start;
    align-items: center;
}

.iconLibrerys{
    display: flex;
    justify-content: initial;
    align-items: center;
}

.nav-menu{
    background-color: #141a32;
    height: 118.5rem;
    top: 0;
    left: -100%;
    transition: 350ms;
    position: fixed;
    z-index: 10;
    width: 20rem;
    display: flex;
}
/* .cName{
    background-color: aliceblue;
} */

.icon{
    width: 9rem;
    height: 5rem;
    font-size: 20rem;
    
}
.nav_item{
   /*  padding: 1rem;
    padding-left: 3rem;
    padding-right: 9rem; */
   /*  cursor: pointer;
    display: flex;
    align-items: center; */
    /* transition: all .2s; */
    background-color: #f5f7ff;
    text-decoration: none;
}

.navCostado2{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background:none;
    font: 20rem;
    color: rgb(255, 255, 255);
}
.nav__item:hover{
    color: var(--blue);
}

.nav__icon {
    color: white;
    transition: 0.2s;
    margin-right: 2rem;
}
.nav__icon:hover {
   /*  margin-right: 1rem; */
    color: var(--blue);
    transition: 0.2s;
}


.nav__item__selected{
    color: var(--font);
    border-right: 6px solid var(--blue);
}
.navCostado{
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    background:none;
    color: rgb(255, 255, 255);
    position: fixed;
    z-index: 10;
}
.nav_active{
    left: 0;
    transition: 350ms;
}
.nav_ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-top: 20rem; */
    margin-top: 20rem;
    margin-left: 1.5rem;
}
.section{
    display: flex;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.options{
  display: flex;
  justify-content: center;
  align-items: center;
}
.listas{
    text-decoration: none;
    list-style: none;
}
.linkStyle{
    display: flex;
    text-decoration: none;
}
.linkStyle > span{
    font-size: 20px;
    color: white;
    text-decoration: none;
    display: flex;
    transition: 0.2s;
}

.linkStyle > span:hover{
    color: var(--blue);
    transition: 0.2s;
}


.DivListas{
    /* background-color: violet; */
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
    font-size: 30px;
    list-style: none;
    padding: 1px 3px 4px;
    margin-right: 4rem;
    height: 20rem;
    width: 15rem;
}
.iconoCostado{
    font-size: 20%;
    background-color: transparent;
    
}


.nav_ul > li {
    list-style: none;
}

.liItems{
    display: flex;
    justify-content: center;
}
@media (max-width : 1024px){
    .nav_ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 20rem;
        margin-left: 4rem;
    }

}


