:root {
  --base: #161B33;
  --font: rgb(230, 230, 230);
  --light-base: #0f3748ff;
  --red: #de3f57ff;
  --yellow: #f7ea78ff;
  --blue: #6fbfe2ff;
}
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 55%; 
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--font);
  background-color: #223143;;
  /* background: linear-gradient(180deg, rgba(36,49,103,0.97) 0%, rgba(22,27,51,0.97) 100%); */
}


/* 
.App {
  display: flex;
  width: 100%;
} */

.searchWrap {
  display: flex;
  justify-content: space-between;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
}

.tooltipItem {
  display: flex;
}

.tooltip:hover .tooltipItem{
  transform: scale(1.25);
  color: rgb(51, 197, 95);
  transition: all .2s;
}

.tooltip:active .tooltipItem{
  transform: scale(1);
}

.tooltip .tooltiptext {
  visibility: hidden;
  position: absolute;
  display: inline-block;
  z-index: 100;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  font-size: 1.6rem;  
  background-color: rgba(255, 255, 255, 0.205);
  padding: .8rem;
}

.tooltip:hover .tooltiptext{
  visibility: visible;
}


::-webkit-scrollbar {
  width: 0;
}
